<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Full example full order</title>
</head>
<body>
    <div>Open console with F12</div>
    <div class="spinner">En chargement...</div>
<script src="./javascripts/common.js"></script>
<script>
"use strict";

var getJSON = this.getJSON,
    addHtmlToPage = this.addHtmlToPage,
    Promise = this.Promise;

// Not in good order.
getJSON('datas/book.json').then(function (story) {

    addHtmlToPage(story.title);

    return story.chapters.reduce(function (sequence, chapter) {
        // Une fois la promesse du dernier chapitre terminée…
        return sequence.then(function () {
            // …récupérer le prochain chapitre
            return getJSON(chapter);
        }).then(function (chapter) {
            // …et l’ajouter à la page
            addHtmlToPage(chapter.content);
        });
    }, Promise.resolve());

    /*var sequence = Promise.resolve();
    return story.chapters.forEach(function (chapter) {
        sequence = sequence.then(function () {
            return getJSON(chapter);
        }).then(function (chapter) {
            addHtmlToPage(chapter.content);
        });
    });*/
}).then(function () {
    // Et on a tout fini !
    addHtmlToPage("<div>Tout fini !</div>");
}).catch(function (err) {
    // Récupère toute erreur survenue en chemin
    addHtmlToPage("Argh, cassé : " + err.message);
}).then(function () {
    // Toujours masquer le spinner
    document.querySelector('.spinner').style.display = 'none';
});
</script>
</body>
</html>